page-weight {

    .bg {background-color: #303030;}

    #icons-content{
        margin-top: 10%;
        height: 33.33%;
        text-align: center;
    }
    
    ion-icon{
        font-size: 10em;
    }

}
